

:root{
    --primary: #a4916d;
    --black:#000;
    --white:#fff;
    --light-black: #666;
    --hover: rgba(244, 244, 244, 0.8);
    --bg: #f9f9f9;
    --border: 0.1rem solid rgba(0, 0, 0, 0.3);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

header{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

header::-webkit-scrollbar{
  width: .8rem;
}

header::-webkit-scrollbar-track{
  background: transparent;
}

header::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 5rem;
}



.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}
.header {
  background: rgba(255, 255, 255, 0.9); /* Colore di sfondo opaco */
  backdrop-filter: blur(10px); /* Effetto sfocatura opaca */
  transition: background 0.3s, opacity 0.3s; /* Transizioni fluide */
}


.heading span{
  color: var(--primary);
  text-transform: uppercase;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  border-radius: 10rem;
  border: .1rem solid var(--primary);
  font-size: 1.7rem;
  color: var(--primary);
  cursor: pointer;
}

.btn:hover{
  background: var(--primary);
  color: var(--white);
}


/* header */

a {
  color: black; /* Imposta il colore del testo a nero */
  text-decoration: none; /* Rimuovi la sottolineatura */
}

.header{
  margin-right: 9em;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--primary);
  padding-right: .5rem;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--white);
  cursor: pointer;
  -webkit-text-stroke: .1rem var(--primary);
}

.header .icons div:hover{
  color: var(--primary);
}

#menu-bar{
  display: none;
}
@media (max-width: 991px){

    html{
      font-size: 55%;
    }
  
    .header{
      padding: 2rem 3rem;
    }
  
    section{
      padding: 2rem;
    }
  
  }
  
  @media (max-width: 768px){
  
    #menu-bar{
      display: inline-block;
    }
  
    .header .navbar{
      position: absolute;
      top: 99%;
      left: 0; right: 0;
      background: var(--white);
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    .header .navbar a{
      font-size:  2rem;
      margin: 2rem;
      display: block;
    }
  
    .home .content h3{
      font-size: 4.5rem;
    }
  
  }
  .fixed-navbar {
    background: var(--white); /* Cambia il colore di sfondo a tuo piacimento */
    opacity: 1; /* Imposta l'opacità a 1 per renderla opaca */
    transition: background 0.3s, opacity 0.3s; /* Aggiungi una transizione per una transizione più fluida */
  }
  
  
  @media (max-width: 450px){
  
    .header{
      font-size: 50%;
    }
  
    .home .content h3{
      font-size: 3.5rem;
    }
  
  }