<header class="header">
    <a href="#" class="logo"> <img src="../../assets/kaMsaY.svg" alt="logo" />
      Kams </a>



    <div class="icons">
        <div>
            <a [routerLink]="['/login']"
                ><i class="bi bi-person-fill"></i
            ></a>
        </div>
        <div>
            <a [routerLink]="['/cart']">
                <i class="bi bi-bag-heart-fill"></i>
            </a>
        </div>
        <div class="fas fa-heart"></div>
        <div id="menu-bar" class="fas fa-bars"></div>
    </div>
</header>
