<br>
<br>
<br>
<br>
<br>
<div class="product-detail">
    <div class="product-images">
        <!-- Carrellata di immagini del prodotto -->
        <div class="product-image">
            <img
                src="../../assets/imgcapston/product2.jpg"
                alt="Product Image 1"
            />
        </div>
        <div class="product-image">
            <img
                src="../../assets/imgcapston/product2b.jpg"
                alt="Product Image 2"
            />
        </div>
        <div class="product-image">
            <img
                src="../../assets/imgcapston/product2c.jpg"
                alt="Product Image 3"
            />
        </div>
    </div>
    <div class="product-info">
        <!-- Descrizioni del prodotto manuali -->
        <h2>PANTALONI DOUBLE FRONT IN NERO</h2>
        <p>
            I Pantaloni Double Front in twill di lana secca nera fanno parte dei
            look 1 e 2 della collezione Inverno 2023 di Balenciaga.
        </p>
        <br>
        <h5>1 850 €</h5>
        <br>
        <hr>

        <!-- Selezione della taglia sopra il pulsante "Aggiungi al carrello" -->
        <label for="taglia"></label>
        <select id="taglia" name="taglia">
            <option value="" disabled selected>Seleziona Taglia</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>

        <!-- Pulsante "Aggiungi al carrello" -->
        <button id="addToCartButton">Aggiungi al carrello</button>
        <br>
        <br>
        <br>
        <br>
        

        <!-- Descrizione aggiunta sotto al carrello -->
        <div class="product-description">
            <p>• Twill di lana secca</p>
            <p>• Unisex</p>
            <p>• Large Fit</p>
            <p>• Vita media</p>
            <p>• Patta con zip nascosta</p>
            <p>• Fabbricati in Italia</p>
            <p>• Si raccomanda di lavare a secco</p>
            <p>• La modella è alta 179 cm e indossa una taglia S</p>
            <p>Materiale: 100% lana vergine</p>
            <p>Product ID: 768814TPT151000</p>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
