<br />
<br />
<br />
<br />

<section class="products" id="product">
    <h1 class="heading">Inverno <span>donna</span></h1>

    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product15.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product15b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>BLUSA A PIEGHE CON FOULARD LILIES DA DONNA IN VERDE</h4>
                <div class="price">3 290 €</div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product2.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product2b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>PANTALONI DOUBLE FRONT IN NERO</h4>
                <div class="price">1 850 €</div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product16.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product16b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>ABITO FOULARD A PIEGHE POPPY DA DONNA IN NERO</h4>
                <div class="price">5 600 €</div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product17.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product17b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>ABITO DOLCEVITA DA DONNA IN NERO</h4>
                <div class="price">1 500 €</div>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product5.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product5b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>OCCHIALI DA SOLE FENNEC OVAL IN BRONZO</h4>
                <div class="price">425 €</div>

                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-eye"></i>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product18.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product18b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>
                    PANTALEGGINGS KNIFE DA DONNA IN NERO
                </h4>
                <div class="price">2 800 €</div>

                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-eye"></i>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product19.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product19b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>OCCHIALI DA SOLE FENNEC OVAL IN GIALLO/ROSSO</h4>
                <div class="price">425 €</div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product20.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product20b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>PANTALEGGINGS ANATOMIC DA DONNA IN NERO</h4>
                <div class="price">3 000 €</div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product21.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product21b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>OCCHIALI DA SOLE FENNEC OVAL IN NERO</h4>
                <div class="price">425 €</div>
            </div>
        </div>
        <a routerLink="/vestito2" class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product8.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product8b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>GONNA DECONSTRUCTED GODET DA DONNA IN NERO</h4>
                <div class="price">2 500 €</div>
            </div>
        </a>
        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product22.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product22b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>CAPPOTTO ROUND SHOULDER ADERENTE IN BEIGE</h4>
                <div class="price">4 900 €</div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="../../assets/imgcapston/product23.jpg" alt="" />
                <img
                    src="../../assets/imgcapston/product23b.jpg"
                    alt=""
                    class="rear-img"
                />
            </div>
            <div class="content">
                <h4>GONNA A PIEGHE DA DONNA IN NERO</h4>
                <div class="price">5 000 €</div>
            </div>
        </div>
        
        
    </div>
</section>
