<div class="box">
    <h2>Registrazione</h2>
    <form action="registrazione.php" method="post">
        <label for="new_username">Nuovo Username:</label>
        <input type="text" id="new_username" name="new_username" required><br><br>

        <label for="new_password">Nuova Password:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>

        <label for="confirm_password">Conferma Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <input type="submit" value="Registrati">
    </form>
</div>