<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table class="table shop_table shop_table_responsive cart" cellspacing="0">
  <thead>
    <tr>
      <th class="product-thumbnail"></th>
      <th class="product-name">Prodotti</th>
      <th class="product-price">Prezzo</th>
      <th class="product-quantity">Quantità</th>
      <th class="product-subtotal">Totale</th>
      <th class="product-remove">Rimuovi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of cartService.getCart()" class="cart_item">
      <td class="product-thumbnail" data-title="Thumbnail">
        <a [routerLink]="['/productsingle']">
          <img [src]="product.imageUrl" alt="" />
        </a>
      </td>
      <td class="product-name" data-title="Product">
        <a href="#">{{ product.name }}</a>
      </td>
      <td class="product-price" data-title="Price">
        <span class="amount">{{ product.price }}</span>
      </td>
      <td class="product-quantity" data-title="Quantity">
        <div class="quantity">
          <input
            type="number"
            class="input-text qty text"
            step="1"
            min="1"
            [(ngModel)]="product.quantity"
          />
        </div>
      </td>
      <td class="product-subtotal" data-title="Total">
        <span class="amount">{{ product.price * product.quantity }}</span>
      </td>
      <td class="product-remove" data-title="Remove">
        <a href="#" (click)="removeFromCart(product)">Remove</a>
      </td>
    </tr>
    <!-- Riga per visualizzare il totale del carrello -->
    <tr>
      <td colspan="4"></td>
      <td class="cart-total" colspan="2">
        <strong>Total: {{ cartService.getTotal() | currency }}</strong>
      </td>
    </tr>
    <!-- Riga per il pulsante "Acquista" -->
    <tr>
      <td class="product-checkout text-center" data-title="Checkout">
        <button class="Btn" [routerLink]="['/checkout']">
          Pay
          <svg viewBox="0 0 576 512" class="svgIcon">
            <path d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0-24-10.7-24-24s10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0-24-10.7-24-24s10.7-24-24-24H248z"></path>
          </svg>
        </button>
      </td>
      
    </tr>
  </tbody>
</table>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  