<br />
<br />
<br />
<br />
<br />
<div class="product-detail">
    <div class="product-images">
        <!-- Carrellata di immagini del prodotto -->
        <div class="product-image">
            <img
                src="../../assets/imgcapston/product8.jpg"
                alt="Product Image 1"
            />
        </div>
        <div class="product-image">
            <img
                src="../../assets/imgcapston/product8b.jpg"
                alt="Product Image 2"
            />
        </div>
        <div class="product-image">
            <img
                src="../../assets/imgcapston/product8c.jpg"
                alt="Product Image 3"
            />
        </div>
    </div>
    <div class="product-info">
        <!-- Descrizioni del prodotto manuali -->
        <h2>GONNA DECONSTRUCTED GODET DA DONNA IN NERO</h2>
        <p>
            La Gonna Deconstructed Godet in lana sartoriale rigenerativa nera fa
            parte del look 5 della collezione Inverno 2023.
        </p>
        <br />
        <h5>2 500 €</h5>
        <br />
        <hr />

        <!-- Selezione della taglia sopra il pulsante "Aggiungi al carrello" -->
        <label for="taglia"></label>
        <select id="taglia" name="taglia">
            <option value="" disabled selected>Seleziona Taglia</option>
            <option value="S">F36</option>
            <option value="M">F38</option>
            <option value="L">F40</option>
            <option value="XL">F42</option>
        </select>

        <!-- Pulsante "Aggiungi al carrello" -->
        <button (click)="addToCart()">Aggiungi al carrello</button>
        <br />
        <br />
        <br />
        <br />

        <!-- Descrizione aggiunta sotto al carrello -->
        <div class="product-description">
            <p>• Lana sartoriale rigenerativa</p>
            <p>• Regular Fit</p>
            <p>• Pantaloni sartoriali sul retro</p>
            <p>• Vita alta</p>
            <p>• Parte inferiore asimmetrica</p>
            <p>• Fabbricata in Italia</p>
            <p>• Si raccomanda di lavare a secco</p>
            <p>• La modella è alta 179 cm e indossa una taglia 36 francese</p>
            <p>Materiale: 73% lana vergine, 27% viscosa</p>
            <p>Product ID: 768730TPT031000</p>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
