<body>
    <!-- home -->

    <section class="home" id="home">
        <div class="content">
            <h3>
                Non seguire i trend, <br />
                Creali
            </h3>
            <p>La moda è ciò che indossi. Lo stile è ciò che fai con esso.</p>
            <a href="#" class="btn">see what's on sale</a>
        </div>
    </section>

    <!-- home end -->

    <!-- banner -->

    <section class="banner">
        <div class="box-container">
            <div class="box" [routerLink]="'/invernouomo'">
                <img src="../../assets/imgcapston/invernouomo.jpg" alt="" />
                <div class="content">
                  <h3>INVERNO UOMO</h3>
                </div>
              </div>
              
              

              <div class="box" [routerLink]="'/invernodonna'">
                <img src="../../assets/imgcapston/invernodonna.jpg" alt="" />
                <div class="content">
                    <h3>INVERNO DONNA</h3>
                </div>
            </div>

            <div class="box">
                <img src="../../assets/images/banner3.jpg" alt="" />
                <div class="content">
                    <h3>fall/winter 2022/23</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- bannner end -->

    <!-- product -->

    <section class="products" id="product">
        <h1 class="heading">our <span>products</span></h1>

        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="../../assets/imgcapston/product1.jpg" alt="" />
                    <img
                        src="../../assets/imgcapston/product1b.jpg"
                        alt=""
                        class="rear-img"
                    />
                </div>
                <div class="content">
                    <h4>CAPPOTTO DECONSTRUCTED IN NERO</h4>
                    <div class="price">4 590 €</div>
                </div>
            </div>

            <a routerLink="/productsingle" class="box">
                <div class="image">
                  <img src="../../assets/imgcapston/product2.jpg" alt="" />
                  <img src="../../assets/imgcapston/product2b.jpg" alt="" class="rear-img" />
                </div>
                <div class="content">
                  <h4>PANTALONI DOUBLE FRONT IN NERO</h4>
                  <div class="price">1 850 €</div>
                </div>
              </a>
              

            <div class="box">
                <div class="image">
                    <img src="../../assets/imgcapston/product3.jpg" alt="" />
                    <img
                        src="../../assets/imgcapston/product3b.jpg"
                        alt=""
                        class="rear-img"
                    />
                </div>
                <div class="content">
                    <h4>PANTALONI DOUBLE SIDE IN BLU SCURO</h4>
                    <div class="price">1 850 €</div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../../assets/imgcapston/product4.jpg" alt="" />
                    <img
                        src="../../assets/imgcapston/product4b.jpg"
                        alt=""
                        class="rear-img"
                    />
                </div>
                <div class="content">
                    <h4>GIACCA DECONSTRUCTED IN BLU SCURO</h4>
                    <div class="price">2 590 €</div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../../assets/imgcapston/product5.jpg" alt="" />
                    <img
                        src="../../assets/imgcapston/product5b.jpg"
                        alt=""
                        class="rear-img"
                    />
                </div>
                <div class="content">
                    <h4>OCCHIALI DA SOLE FENNEC OVAL IN BRONZO</h4>
                    <div class="price">425 €</div>

                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-eye"></i>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../../assets/imgcapston/product6.jpg" alt="" />
                    <img
                        src="../../assets/imgcapston/product6b.jpg"
                        alt=""
                        class="rear-img"
                    />
                </div>
                <div class="content">
                    <h4>
                        INFLATABLE HOODIE UNITY SPORTS ICON MEDIUM FIT CON ZIP
                        IN BIANCO
                    </h4>
                    <div class="price">2 500 €</div>

                    <i class="fas fa-shopping-cart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-eye"></i>
                </div>
            </div>
        </div>
    </section>

    <!-- product end -->

    <!-- deliver -->

    <section class="deliver">
        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img
                        src="../../assets/images/deliver_1.png"
                        alt=""
                        class="front-img"
                    />
                    <img
                        src="../../assets/images/deliver_12.png"
                        alt=""
                        class="rear-img"
                    />
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img
                        src="../../assets/images/deliver_2.png"
                        alt=""
                        class="front-img"
                    />
                    <img
                        src="../../assets/images/deliver_22.png"
                        alt=""
                        class="rear-img"
                    />
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img
                        src="../../assets/images/deliver_3.png"
                        alt=""
                        class="front-img"
                    />
                    <img
                        src="../../assets/images/deliver_32.png"
                        alt=""
                        class="rear-img"
                    />
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <h3>feel free to ask</h3>
                    <h2>+39 345 856 9924</h2>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- deliver -->

    <!-- featured -->

    <!-- end -->

    <!-- brand -->

   
    <!-- end -->

    <!-- blog -->

    <section class="blogs" id="blog">
        <h1 class="heading">our <span>blogs</span></h1>

        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="../../assets/imgcapston/blog.jpg" alt="" />
                </div>
                <div class="content">
                  
                    <h3>Obscura Website Relaunch</h3>
                    <p>
                        “Tailored for those with a passion to pursue the art of daily life,” SILLY THING publication
                    </p>
                    <a href="https://hypebeast.com/2014/2/obscura-website-relaunch" class="btn">read more</a>
                    <div class="icon">
                        <a href="#"
                            ><i class="fas fa-calendar"></i> Feb 14, 2014</a
                        >
                        <a href="#"><i class="fas fa-user"></i>By T.S. Fox</a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../../assets/imgcapston/blog2.jpg" alt="" />
                </div>
                <div class="content">
                 
                    <h3>Blog: ARAW - A Roll A Week</h3>
                    <p>
                        A Roll A Week is a blog from Ludovic Zuili whose goal is to publish a roll of film every week.
                    </p>
                    <a href="https://hypebeast.com/2012/5/blog-araw-a-roll-a-week" class="btn">read more</a>
                    <div class="icon">
                        <a href="#"
                            ><i class="fas fa-calendar"></i>May 10, 2012</a
                        >
                        <a href="#"><i class="fas fa-user"></i>By Alec Banks</a>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../../assets/imgcapston/blog3.jpg" alt="" />
                </div>
                <div class="content">
                    
                    <h3>Blog: Style Illustrated</h3>
                    <p>
                        Freelance illustrator and designer Andrew Mashanov has shown a particular affinity for sketched and
                    </p>
                    <a href="https://hypebeast.com/2012/4/blog-style-illustrated" class="btn">read more</a>
                    <div class="icon">
                        <a href="#"
                            ><i class="fas fa-calendar"></i> Apr 29, 2012</a
                        >
                        <a href="#"><i class="fas fa-user"></i>By Alex Maeland</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end -->

    <!-- contact -->
</body>
